<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Email Sent</title>
<style>
body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f5f7fb;
font-family:sans-serif;
}
.card{
background:white;
padding:40px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
h2{margin-bottom:10px;}
p{color:#666;}
</style>
</head>
<body>

<div class="card">
<h2>📩 Email Sent</h2>
<p>Please check your email for reset link</p>
</div>

</body>
</html>